*{
    box-sizing: border-box;
    margin: 0;
padding: 0%;

}
@font-face {
    font-family: fuentefiesta;
    src: url(agency-fb-bold_[allfont.net].ttf);
}

body{
    background-color: #000000;
color: floralwhite;
text-decoration: none;
font-size: 16px;
font-family:fuentefiesta;
font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1500px;
    min-width: 300px;
}
.img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 3 5px rgba(15,15,15.5);
	margin: auto;
}
/* navigation */
.nav-main {
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
height: 90px;
padding: 10px 0;

}

.nav-brand {
    width: 49px;
}
 
/* NAV LEFT */ 
.nav-main ul {
    display: flex;

}

.nav-main ul li {
    padding: 30px;

}
.nav-main ul li a:hover{
    border-bottom:2px solid #ffffff;

}

/* SHOWCASE */
hr {
    margin: 5px 0px;

}
.showcase {
    width: 1100px;
    height: 463px;
    float: 70px;
    width: auto;
    background :url('./img/showcase.png.png') ;
padding-bottom: 20px;
margin-bottom: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
}
ul {
    list-style: none;
}

.btn {
    cursor: pointer;
display: inline-block;
border: 0;
font-weight: bold;
padding: 10px 20px;
background-color: #000000;
color: #fdfdfd;
font-size: 15px;
border:1px solid #fff;
margin: 10px;
}
.btn :hover {
    opacity: 6;
}

.siguenos {
position: absolute;
width: 400px;
left: 50%;
margin-left: -250px;
top: 50%;
margin-top: 1000px;
border-radius: 80px;
}
.siguenos span {
width: 200px;
line-height: 80px;
display: inline-block;
font-weight: 700;
text-transform: uppercase;
position: absolute;
left: 50%;
opacity: 1;
transition: opacity 0.3s ease-in-out;
pointer-events: none;
}
.siguenos nav {
    font-size: 0;
    }
    .siguenos a {
        line-height: 80px;
        width: 80px;
        text-align: center;
        display: inline-block;
background: linear-gradient (180deg, O#aea7da, #616dd4);
color: O#ffffff;
opacity: 1;
transition: all 0.3s ease-in-out;
margin: 0 -5px;
box-shadow: 10px 10px 15px Orgba(0, 0, 0, 0.1);
 }

 .siguenos a:nth-child(1) {
    border-top-left-radius: 40px; border-bottom-left-radius: 40px;
    margin-left: 0;
    }
    .siguenos a:nth-child(1):hover {background-color: #3b5998;
}
.siguenos a:nth-child(2):hover {
background-color: #050608;
}
.siguenos a:nth-child(3):hover {
    background-color: #dd4ec5;}

    .siguenos a:nth-child(0):hover {
        background-color: #000000;}

        .siguenos:hover span, .share.hover span {
            opacity: 0; }

            .siguenos:hover a{
                margin: 0 10px;
                color: #413838; font-size: 28px;
                border-radius: 50%;
                background: O#ffffff15;
                box-shadow: 0 10px 25px Orgba(0, 0, 0, 0.1); backdrop-filter: blur (2px);;
                -webkit-backdrop-filter: blur (2px);; }
    .siguenos:hover a:hover {
        color:#fff;
    }
.fiesta {
    color:orangered;
text-align: center;
}



/* Estilos para el artículo */
article {
	background-color:#000000;
	padding: 10px;
	margin: 20px;
	border-radius: 10px;
	box-shadow: 0 0 5px #888888;
    text-align: center;
    font-size: 23px;
    
}

article h4 {
	color: orangered;
	font-size: 40px;
	margin-bottom: 60px;
    

}


article ul {
	margin-bottom: 10px;
}
h5{
    padding: 35px;
    font-size: 40px;
    

}

article blockquote footer {
	text-align: right;
	color: #666666;
}

/* Estilos para el encabezado */
header {
	background-color: #000000;
	color: orangered;
	padding: 10px;
}

header h1 {
	font-size: 50px;
	margin: 0;
}

header time {
	font-size: 40px;
	color: #ffffff;
}

